@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
body {
  background-color: #F2F2F2;
  font-family: 'Noto Serif', serif;
}
h2 {
  margin-left: 20px;
  color: #00ADA7;
  font-size: 36px;
  text-align: center;
}
h4 {
  margin-left: 20px;
  color: #00ADA7;
  font-size: 30px;

}
/* ==========================================================================
   Grid Systems:
   ========================================================================== */
  .col-1-2 {
    flex-basis: 50%;
  }
  .grid-wrapper {
    display: flex;
    margin-top: 70px;
  }
  .col-1 {
    flex-basis: 100%;
  }
  .row-1-2 {
    flex-basis: 25;
  }
  .grid-row {
    display: flex;
  }
  .grid-column {
    display: flex;
  }
/* ==========================================================================
    Header
 ========================================================================== */
 h1 {
   margin-left: 20px;
   color: #00ADA7;
   position: fixed;
 }
/* ==========================================================================
   Main
   ========================================================================== */
.header-img {
   height: 400px;
   width: 400px;
   border-radius: 50%;
   position: relative;
}
.header-img:hover {
  transform: scale(1.5, 1.5);
}
.main {
  padding: 50px;
  margin-left: 150px;
}
h3 {
  position: absolute;
  color: #F2F2F2;
  font-size: 45px;
  z-index: 100;
}
.heading-narrative {
  top: 250px;
  left: 260px;
}
.heading-book-arts {
  top: 250px;
  left: 840px;
}
/* ==========================================================================
   Narrative
   ========================================================================== */
.photo-wrap {
  margin-left: 320px;
}

/* ==========================================================================
Footer
========================================================================== */
