@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
body {
  background-color: #F2F2F2;
  font-family: 'Noto Serif', serif;
}
h2 {
  color: #00ADA7;
  font-size: 36px;
  text-align: center;
}
/*h4 {
  color: #00ADA7;
  font-size: 20px;
  text-align: center;
}*/

/* ==========================================================================
   Grid Systems:
   ========================================================================== */
  .col-1-2 {
    flex-basis: 50%;
  }
  .grid-wrapper {
    display: flex;
    margin-top: 70px;
  }
  .col-1 {
    flex-basis: 100%;
  }
  .row-1-2 {
    flex-basis: 50%;
  }
  .grid-row {
    display: flex;
  }
  .grid-column {
    display: flex;
  }
/* ==========================================================================
    Header
 ========================================================================== */
 h1 {
   margin-left: 20px;
   color: #00ADA7;
   position: fixed;
 }
/* ==========================================================================
   Main
   ========================================================================== */
.header-img {
   height: 400px;
   width: 400px;
   border-radius: 50%;
   border: 25px #D9CD1C solid;
}
/*.header-img:hover {
  transform: scale(1.5, 1.5);
}*/
.main {
  padding: 50px;
  margin-left: 90px;
}
h3 {
  position: absolute;
  color: #F2F2F2;
  font-size: 45px;
  z-index: 100;
}
.heading-narrative {
  top: 250px;
  left: 235px;
}
.heading-book-arts {
  top: 250px;
  left: 710px;
}

/* ==========================================================================
   Narrative
   ========================================================================== */
.narrative {
  margin-top: 100px;
}
.photo-wrap {
  margin: 50px 200px 50px 200px;
  border: 25px #C24704 solid;
  }
/* ==========================================================================
    Book Arts
   ========================================================================== */
.book-arts {
  margin-top: 200px;
}
/* ==========================================================================
  Contact
   ========================================================================== */
  .contact {
    margin: 130px 200px 100px 200px;
  }
  form {
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
  width: 100%;
  margin: 0 auto;
}
input, textarea {
 display: block;
  font-family: 'Noto Serif', serif;
 padding: 8px 25.5px;
 text-align: center;
 margin-bottom: 10px;
 border: #44545E;
 width: 100%;
 font-size: 18px;
}
.form-button {
 background-color: #D9CD1C ;
 color: white;
  font-family: 'Noto Serif', serif;
 padding: 5px 250px 5px 250px;
 text-align: center;
 margin-top: 10px;
 width: 100%;
 font-size: 18px;
}
.form-button:hover {
 color: #D9CD1C ;
 background-color: white;
 border: 2px solid ##D9CD1C ;
 font-family: 'Noto Serif', serif;
 padding: 5px 250px 5px 250px;
 transition: 0.25s;
 cursor:pointer;
}
/* ==========================================================================
  Shop
 ========================================================================== */

/* ==========================================================================
Footer
========================================================================== */
footer a {
  margin-right: 25px;
  color: #00ADA7;
  font-size: 32px;
}
#social-links {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
}
