@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Nothing+You+Could+Do');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
body {
  background-color: #CFC291;
  font-weight: 400;
}
h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 72px;
}
h2 {
  font-family: 'Crimson Text', serif;
}
.fa {
  font-size: 36px;
}
/* ==========================================================================
    Grid Systems
 ========================================================================== */
.col-1-2 {
  flex-basis: 42%;
}
.grid-column {
  display: flex;
  justify-content: center;
}


 /* ==========================================================================
    Header
  ========================================================================== */
header {
  display: inline-block;
  color: #C24704;
  font-size: 22px;
  top: 0;
}
nav li {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px 0 10px;
}
.contact {
  margin-left: 800px;
}
/* ==========================================================================
    Main
 ========================================================================== */
.circle-heading-narrative {
  position: absolute;
  top: 260px;
  left: 150px;
  color: #D9CC3C;
  font-family: 'Nothing You Could Do', cursive;

}
.circle-heading-book-arts {
  position: absolute;
  top: 260px;
  left: 730px;
  color: #D9CC3C;
  font-family: 'Nothing You Could Do', cursive;

}
/*.circle-heading-narrative:hover {
  transform: translateY(50px) rotateY(180deg) skew(10deg, 10deg);
  transition: all .7s ease-in-out;
}
.circle-heading-book-arts:hover {
  transform: translateY(50px) rotateY(180deg) skew(10deg, 10deg);
  transition: all .7s ease-in-out;
}*/
img {
  height: 400px;
  width: 400px;
  position: relative;
  border-radius: 50%;
}
img:hover {
  transform: translateY(50px) rotateY(180deg) skew(10deg, 10deg);
  transition: all .7s ease-in-out;
}
 /* ==========================================================================
     Footer
  ========================================================================== */
footer {
  color: #C24704;
  font-size: 22px;
}
footer li {
  text-decoration: none;
  display: inline-block;
  margin: 15px 15px 0 15px;
}
/* ----------------------------------------
Placeholder Text
------------------------------------------- */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

}
::-moz-placeholder { /* Mozilla Firefox 19+ */

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */

}
